@import url('http://fonts.cdnfonts.com/css/excalibur-monospace');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Excalibur Monospace', sans-serif;
    transition: all 300ms;
}

html{
    font-size: 62.5%;
}

body{
    position: relative;
}

#header{
    width: 100%;
    height: 9rem;
    background-color: #fff;
    box-shadow: 0 .5rem 1rem rgb(74, 74, 74);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:  #09b459;
}

#header .header-user{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#header .header-user a{
    display: block;
    background: rgb(192, 0, 0);
    color: #fff;
    font-size: 2rem;
    padding: 1rem;
    text-decoration: none;
    transition: all 300ms;
}

#header .header-user a:hover{
    background: rgb(255, 14, 14);
}

#header img{
    width: 9rem;
    margin-left: 3rem;
}

#header h2{
    font-size: 3.5rem;
}

#container{
    width: 100%;
    height: 61.8rem;
    display: flex;
    align-items: center;
}

#container #nav{
    width: 20%;
    height: 100%;
    background: #079d4d;
}

#container #nav ul{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#container #nav ul li{
    width: 100%;
    height: auto;
    text-align: center;
}

#container #nav ul li a{
    display: block;
    text-decoration: none;
    color: #fff;
    transition: all 300ms;
    font-size: 2rem;
    padding: 2rem 1rem;
}

#container #nav ul li a:hover{
    background: #fff;
    color: #09b459;
}

/* .content-div{
    width: 80%;
    height: ;
} */