@import url('http://fonts.cdnfonts.com/css/segoe-ui-4');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
    transition: all 300ms;
}

:root{
    --color-principal: #004aad;
    --color-secundario: #0060df;
}

html{
    font-size: 62.5%;
}

body{
    position: relative;
}


.tables{
    width: 90%;
    min-height: auto;
    margin: 3rem 0;
}

.tables div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.tables div h2{
   font-size: 3rem;
   margin: 4rem 0;
}


.buttons{
    width: 90%;
    height: 15rem;
    margin: 3rem auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.buttons button{
    width: 15rem;
    height: 70%;
    font-size: 1.2rem;
    cursor: pointer;
    border: .1rem solid #004aad;
    background: #e2e2e2;
    border-radius: 1rem;
}

.buttons button:hover{
    background: rgb(158, 158, 158);
}

.buttons button i{
    display: block;
    font-size: 4rem;
    margin-top: .3rem;
}

.buttons div{
    width: 15rem;
    height: 70%;
    font-size: 1.2rem;
    cursor: pointer;
    border: .1rem solid var(--color-principal);
    border-radius: 1rem;
    text-align: center;
    background: #599bf1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttons div span{
    margin-top: -1rem;
    font-size: 4rem;
}



.add-icon{
    color: #09b459;
}

.update-icon{
    color: #599bf1;
}

.delete-icon{
    color: rgb(243, 19, 19);
}

.list-icon{
    color:  rgba(156, 98, 11, 0.822);
}



















/*HEADER*/

#header{
    width: 100%;
    height: 13vh;
    background-color: #fff;
    box-shadow: 0 .5rem 1rem rgb(74, 74, 74);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:  var(--color-principal);
}

#date{
    width: 40rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: #fff;
}

#header .header-user{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#header .header-user h2{
    font-size: 3rem;
}

#header .header-user a{
    display: block;
    background: rgb(192, 0, 0);
    color: #fff;
    font-size: 2rem;
    padding: 1rem;
    text-decoration: none;
    transition: all 300ms;
    margin-right: 1rem;
}

#header .header-user a:hover{
    background: rgb(255, 14, 14);
}

#header img{
    width: 9rem;
    margin-left: 3rem;
}

#header h2{
    font-size: 3.5rem;
    margin-right: 1rem;
}

#container{
    width: 100%;
    height: 87vh;
    display: flex;
    align-items: center;
}

#container #nav{
    width: 20%;
    height: 100%;
    background: var(--color-secundario);
}

#container #nav ul{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#container #nav ul li{
    width: 100%;
    height: auto;
    text-align: center;
}

#container #nav ul li i{
   margin-right: 2rem;
}

#container #nav ul li span{
    margin-left: 2rem;
 }

#container #nav ul li a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #fff;
    transition: all 300ms;
    font-size: 1.5rem;
    padding: 2rem 1rem;
}

#container #nav ul li a:hover{
    background: #fff;
    color:  var(--color-principal);
}

.content-div{
    width: 80%;
    height: 100%;
    overflow-y: scroll;
}

.content-div-inicio{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around
}

.change-password,
.change-username,
.info-user{
    width: 30rem;
    min-height: 30rem;
    border: .1rem solid var(--color-principal);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.change-password h2,
.change-username h2,
.user-info h2{
    font-size: 1.5rem;
    text-align: center;
}

.content-div input{
    display: block;
    width: 80%;
    font-size: 2rem;
    padding: 1rem;
}

.error{
    width: 100%;
    height: auto;
    background: #f00;
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem;
}

.success{
    width: 100%;
    height: auto;
    background: rgb(0, 131, 0);
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem;
}












































/*PRODUCTOS*/
.forms-product{
    width: 70%;
    height: 50rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 5rem auto;
    margin-bottom: -10rem;
}



.charge-product{
    width: 70%;
    min-height: 30rem;
    border: .1rem solid var(--color-principal);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
}


.charge-product input,
.delete-product input,
.update-product input{
    width: 95%;
    font-size: 1.3rem;
    outline: none;
    margin: 2rem auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.update-product select{
    display: block;
    width: 95%;
    margin: 1rem auto;
    font-size: 2rem;
    padding: 1rem;
}

.charge-product input[type='submit']{
    background: rgb(53, 201, 12);
    border: none;
    cursor: pointer;
}

.charge-product input[type='submit']:hover{
    background: rgb(112, 255, 72);
    border: none;
    cursor: pointer;
}

.forms-product select{
    display: block;
    width: 95%;
    padding: 1rem;
    font-size: 2rem;
    margin: 1rem auto;
}

.delete-product{
    display: none;
    width: 70%;
    min-height: 15rem;
    border: .1rem solid var(--color-principal);
    margin: 0 auto;
}

.delete-product input{
    margin: 2rem auto;
}

.delete-product input[type='submit']{
    background: rgb(255, 20, 20);
    border: none;
    cursor: pointer;
}

.delete-product input[type='submit']:hover{
    background: rgb(255, 98, 98);
    border: none;
    cursor: pointer;
}




.update-product{
    width: 70%;
    min-height: 15rem;
    border: .1rem solid var(--color-principal);
    padding: .5rem;
    display: none;
    margin: 0 auto;
}

.update-product input{
    margin: 1rem auto;
    margin-bottom: 1rem;
}

.update-product input[type='submit']{
    background: rgb(2, 196, 202);
    border: none;
    cursor: pointer;
    margin: 0 auto;
}

.update-product input[type='submit']:hover{
    background: rgb(35, 236, 243);
    border: none;
    cursor: pointer;
}

.buttons_product{
    width: 100%;
    min-height: 2rem;
    margin: 0 auto;
    margin-bottom: 4rem;
    display: flex;
}

.buttons_product button{
   width: 30rem;
   height: 5rem;
   display: inline-block;
   font-size: 1.5rem;
   cursor: pointer;
   margin-bottom: 1rem;
   float: left;
   border: .1rem solid rgb(100, 100, 100);
}

.buttons_product button:hover{
    background: #aaa;
}

.tables{
    display: none;
    width: 90%;
    min-height: 20rem;
    margin: 0 auto;
    margin-top: -50rem;
}

#product_table{
    display: block;
    width: 100%;
    min-height: 20rem;
    margin-bottom: 5rem;
    border: .1rem solid #004aad;
    margin: 0 auto;
}

#product_table_stock{
    display: none;
    min-width: 100%;
    min-height: 20rem;
    margin-bottom: 5rem;
    border: .1rem solid #004aad;
}

.product_table--h2{
    font-size: 1.5rem;
    margin: 2rem 0;
}

#product_table .product_table_hd,
#product_table .product_table_bd,
#product_table_stock .product_table_hd,
#product_table_stock .product_table_bd{
    height: 1rem;
}


#product_table .product_table_hd,
#product_table_stock .product_table_hd{
    background: #004aad;
    text-align: center;
    font-size: 1.5rem;
    padding: 2rem;
    color: #fff;
}

#product_table .product_table_bd,
#product_table_stock .product_table_bd{
    text-align: center;
    font-size: 1.5rem;
    background: rgb(219, 219, 219);
    padding: 2rem;
}


#product_table .product_table_hd td,
#product_table .product_table_bd td,
#product_table_stock .product_table_hd td,
#product_table_stock .product_table_bd td{
    padding: 1.5rem;
}



.forms-product input{
    font-size: 2rem;
    padding: 1rem;
}















/*CATEGORIAS*/

.forms-category{
    width: 90%;
    height: 30rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 3rem;
}

.save-category{
    width: 50%;
    min-height: 20rem;
    margin: 2rem auto;  
}

.delete-category,
.update-category{
    display: none;
    width: 50%;
    min-height: 20rem;
    margin: 2rem auto;  
}

.save-category{
    border: .1rem solid var(--color-principal);
}

.delete-category{
    border: .1rem solid var(--color-principal);
}

.update-category{
    border: .1rem solid var(--color-principal);
}

.save-category input,
.delete-category input,
.update-category input{
    font-size: 2rem;
    padding: 1rem;
    margin: 3rem auto;
    outline: none;
}

#category_table{
    display: none;
    width: 50%;
    min-height: 20rem;
    margin: 2rem auto;
    margin-bottom: 3rem;
    border-collapse: collapse;
}

#category_table td,
#category_table th{
    font-size: 3rem;
    padding: 2rem;
    border: .1rem solid #000;
}

#category-table thead{
    background:  var(--color-principal);
}

#category_table .category_table_bd{
    width: 100%;
    height: 2rem;
    border: .1rem solid #000;
}


#category_table .category_table_hd{
    width: 100%;
    height: 3rem;
    background: var(--color-principal);
    text-align: center;
    font-size: 3rem;
    border: .1rem solid #000;
    color: #fff;
}

#category_table .category_table_bd{
    text-align: center;
    font-size: 3rem;
    background: rgb(219, 219, 219);
    padding: 1rem;
}

#category_table .category_table_hd .td-id{
    width: 30%;
    height: 7rem;
}

#category_table .category_table_bd .td-name{
    width: 70%;
    height: 7rem;
} 

.save-category input[type='submit']{
    background: rgb(53, 201, 12);
    border: none;
    cursor: pointer;
}

.save-category input[type='submit']:hover{
    background: rgb(112, 255, 72);
    border: none;
    cursor: pointer;
}

.delete-category input[type='submit']{
    background: rgb(255, 20, 20);
    border: none;
    cursor: pointer;
}

.delete-category input[type='submit']:hover{
    background: rgb(255, 98, 98);
    border: none;
    cursor: pointer;
}

.update-category input[type='submit']{
    background: rgb(0, 121, 191);
    border: none;
    cursor: pointer;
}

.update-category input[type='submit']:hover{
    background: rgb(7, 222, 226);
    border: none;
    cursor: pointer;
}








/*PROVEEDORES*/
.forms-provider{
    width: 90%;
    height: 30rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 15rem;
}

.charge-provider{
    width: 50%;
    min-height: 20rem;
    margin: 2rem auto;  
    border: .1rem solid var(--color-principal);
}


.update-provider{
    display: none;
    width: 50%;
    min-height: 20rem;
    margin: 2rem auto;  
    margin-bottom: -10rem;
    border: .1rem solid var(--color-principal);
}

.delete-provider{
    display: none;
    width: 50%;
    min-height: 20rem;
    margin: 0rem auto;  
    margin-bottom: 28rem;
    border: .1rem solid var(--color-principal);
}



.charge-provider input,
.delete-provider input,
.update-provider input{
    width: 85%;
    font-size: 2rem;
    padding: 1rem;
    margin: 3rem auto;
    outline: none;
}


.delete-provider select,
.update-provider select{
    width: 85%;
    display: block;
    font-size: 2rem;
    padding: 1rem;
    margin: 3rem auto;
    outline: none;
}


#provider_table{
    display: none;
    width: 90%;
    min-height: 20rem;
    border: .1rem solid var(--color-principal);
    margin: -40rem auto;
    border-collapse: collapse;
}

#provider_table td,
#provider_table th{
    font-size: 1.8rem;
    padding: 1rem;
    border: .1rem solid #000;
}

#provider-table thead{
    background:  var(--color-principal);
}

#provider_table .provider_table_bd{
    width: 100%;
    height: 2rem;
    border: .1rem solid #000;
}


#provider_table .provider_table_hd{
    width: 100%;
    height: 3rem;
    background: var(--color-principal);
    text-align: center;
    font-size: 3rem;
    border: .1rem solid #000;
    color: #fff;
}

#provider_table .provider_table_bd{
    text-align: center;
    font-size: 3rem;
    background: rgb(219, 219, 219);
    padding: 1rem;
}

#provider_table .provider_table_hd .td-id{
    width: 30%;
    height: 7rem;
}

#provider_table .provider_table_bd .td-name{
    width: 70%;
    height: 7rem;
} 










/*ACERCA DE*/
.about-content{
    width: 80rem;
    height: 40rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 9rem auto;
}

.about-content img{
    width: 50%;
}

.about-content .info-system{
    width: 50%;
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-left: .2rem solid black;
    text-align: center;
}

.info-system h2{
    font-size: 3rem;
}

.info-system h3{
    font-size: 1.2rem;
}