@import url('http://fonts.cdnfonts.com/css/excalibur-monospace');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Excalibur Monospace', sans-serif;
    transition: all 300ms;
}

html{
    font-size: 62.5%;
}

body{
    position: relative;
}

#header{
    width: 100%;
    height: 9rem;
    background-color: #fff;
    box-shadow: 0 .5rem 1rem rgb(74, 74, 74);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:  #09b459;
}

#header .header-user{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#header .header-user a{
    display: block;
    background: rgb(192, 0, 0);
    color: #fff;
    font-size: 2rem;
    padding: 1rem;
    text-decoration: none;
    transition: all 300ms;
    margin-right: 1rem;
}

#header .header-user a:hover{
    background: rgb(255, 14, 14);
}

#header img{
    width: 9rem;
    margin-left: 3rem;
}

#header h2{
    font-size: 3.5rem;
    margin-right: 1rem;
}

#container{
    width: 100%;
    height: 56.3rem;
    display: flex;
    align-items: center;
}

#container #nav{
    width: 20%;
    height: 100%;
    background: #079d4d;
}

#container #nav ul{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#container #nav ul li{
    width: 100%;
    height: auto;
    text-align: center;
}

#container #nav ul li a{
    display: block;
    text-decoration: none;
    color: #fff;
    transition: all 300ms;
    font-size: 2rem;
    padding: 2rem 1rem;
}

#container #nav ul li a:hover{
    background: #fff;
    color: #09b459;
}

.content-div{
    width: 80%;
    height: 100%;
    overflow-y: scroll;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.change-password,
.change-username,
.info-user{
    width: 30rem;
    min-height: 30rem;
    border: .1rem solid #079d4d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.change-password h2,
.change-username h2,
.user-info h2{
    font-size: 1.5rem;
    text-align: center;
}

.content-div input{
    display: block;
    width: 80%;
    font-size: 2rem;
    padding: 1rem;
}

.error{
    width: 100%;
    height: auto;
    background: #f00;
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem;
}

.success{
    width: 100%;
    height: auto;
    background: rgb(0, 131, 0);
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem;
}





/*PRODUCTOS*/
.charge-product{
    width: 50rem;
    min-height: 35rem;
    border: .1rem solid #09b459;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.charge-product input{
    width: 80%;
    outline: none;
}



/*CATEGORIAS*/
.forms-category{
    width: 40rem;
    height: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.save-category,
.delete-category{
    width: 40rem;
    height: 20rem;
    border: .1rem solid #09b459;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#category_table{
    width: 40rem;
    height: 20rem;
    border: .1rem solid #09b459;
}

#category_table .category_table_hd,
#category_table .category_table_bd{
    height: 1rem;
}


#category_table .category_table_hd{
    background: #09b459;
    text-align: center;
    font-size: 2rem;
}

#category_table .category_table_bd{
    text-align: center;
    font-size: 2rem;
    background: rgb(219, 219, 219);
    padding: 1rem;
}


#category_table .category_table_hd td,
#category_table .category_table_bd td{
    padding: 1rem;
}

.save-category input[type='submit']{
    background: rgb(53, 201, 12);
    border: none;
    cursor: pointer;
}

.save-category input[type='submit']:hover{
    background: rgb(112, 255, 72);
    border: none;
    cursor: pointer;
}

.delete-category input[type='submit']{
    background: rgb(255, 20, 20);
    border: none;
    cursor: pointer;
}

.delete-category input[type='submit']:hover{
    background: rgb(255, 98, 98);
    border: none;
    cursor: pointer;
}





/*ACERCA DE*/
.about-content{
    width: 80rem;
    height: 40rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-content img{
    width: 50%;
}

.about-content .info-system{
    width: 50%;
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-left: .2rem solid black;
    text-align: center;
}

.info-system h2{
    font-size: 3rem;
}

.info-system h3{
    font-size: 1.2rem;
}